<!--
<p>
  subscription-list works!
</p>
-->
<!--
<table mat-table>
  <thead>
    <th>Title</th>
    <th>Description</th>
    <th>Amount</th>
    <th>Paydate</th>
  </thead>

  <tbody>
    <tr *ngFor="let subscription of listOfSubscriptions">
      <td (click)="onUpdateMode(subscription)">{{ subscription.title }}</td>
      <td (click)="onUpdateMode(subscription)">{{ subscription.description }}</td>
      <td (click)="onUpdateMode(subscription)">{{ subscription.amount }}</td>
      <td (click)="onUpdateMode(subscription)">{{ subscription.paydate }}</td>
      <td><a a class="btn text-danger" (click)="onDelete(subscription.id)"><i class="fa fa-trash"></i></a></td>  Hyperlink to activate the delete function, passing in the id of the selected subscription 
    </tr>
  </tbody>
</table>

-->

<table mat-table [dataSource]="listOfSubscriptions" class="mat-elevation-z8">
  <!-- Title Column -->
  <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let subscription" (click)="onUpdateMode(subscription)"> {{subscription.title}} </td>
    </ng-container>
  
    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let subscription" (click)="onUpdateMode(subscription)"> {{subscription.description}} </td>
    </ng-container>
  
    <!-- Amount Column -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> Amount </th>
      <td mat-cell *matCellDef="let subscription" (click)="onUpdateMode(subscription)"> {{subscription.amount }} </td>
    </ng-container>
  
    <!-- Paydate Column -->
    <ng-container matColumnDef="paydate">
      <th mat-header-cell *matHeaderCellDef> Paydate </th>
      <td mat-cell *matCellDef="let subscription" (click)="onUpdateMode(subscription)"> {{subscription.paydate}} </td>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let subscription" (click)="onDelete(subscription.id)"><mat-icon color="warn">delete_forever</mat-icon></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>