  .form-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  h1 {
    padding: 10px;
  }

  button {
    margin: 0 0 0 10px;
  }
  
  .form-container > * {
    width: 100%;
  }