<!-- Header part of form -->
<h1>Login</h1>
<form (ngSubmit)="onLogin(loginForm)" #loginForm="ngForm"> 
<div class="form-container">
  <div>
  <mat-form-field>
    <input type="email" id="email" name="email" matInput placeholder="email" ngModel>
    <!--
    <button mat-button *ngIf="subService.formData.title" matSuffix mat-icon-button aria-label="Clear" (click)="subService.formData.title=''">
      <mat-icon>close</mat-icon>
    </button>
    -->
   <!-- 
    <mat-error *ngIf="title.invalid && (title.dirty || title.touched)">
      Email is <strong>required</strong>
    </mat-error>
    -->
  </mat-form-field>
</div>

<div>
  <mat-form-field>
    <input matInput type="password" id="password" name="password" matInput placeholder="password" ngModel>
    <!--
    <button mat-button *ngIf="subService.formData.description" matSuffix mat-icon-button aria-label="Clear" (click)="subService.formData.description=''">
      <mat-icon>close</mat-icon>
    </button>
    -->
  </mat-form-field>
</div>
  <button type="submit" mat-flat-button color="primary">Log in</button>
  <!--
  <p>
    <button type="submit" mat-flat-button color="primary" [disabled]="form.form.pristine || form.form.invalid">Submit</button>
  </p>
  <button (click)="clearFields()" mat-stroked-button color="primary">Clear</button>
  -->
  </div>
</form>